<%- include("header") -%>

<h2>This is the about page</h2>

<p>This is a page add activities in a List. Its sincoronized with Herku and MongoDB Atlas.</p>
<p>We made this Web app using: Javascript, NodeJs & Express, MongoDB & Mongoose, EJS</p>

<%- include("footer") -%>
